.idea/
venv/

git push --set-upstream origin master                                                                                                               128 х  ML Py │ base Py
Username for 'https://github.com': 7pandeys
Password for 'https://7pandeys@github.com':
